.car, .student, .zimski, .leten {
  text-align: center;
}

.component {
  text-align: center;
}
table, th {
  background-color: bisque;
  margin: 0 auto;
  border: 1px solid white;
}

table td {
  border: 1px solid white;
}
