/* Car.js */

.cars {
  background-image: linear-gradient(to bottom right, white, black);
  text-align: center;
}

.car-img {
  margin-bottom: 30px;
  transition: transform 0.3s;
}

.car-img:hover {
  transform: scale(1.2);
}

button {
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s
}

button:hover {
  background-color: #0056b3;
}

.show-results {
  width: 50%;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.h1-show-results {
  padding: 20px;
}

.input-show-results {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.results-btn {
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.results-btn:hover {
  background-color: #0056b3;
}

.table-show-results {
  width: 80%;
  margin: auto;
}
